* {
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #303030;
  font-family: "Merriweather", serif;
  margin: 0;
}
.hide {
  display: none;
}
button {
  position: fixed;
  z-index: 10;
  cursor: pointer;
  bottom: 0;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  margin: 0 20px 20px 0;
  background-color: cornflowerblue;
  box-shadow: 0 0 4px 2px #6495edeb, inset 0 0 16px 8px #3d7cefeb;
}
ul {
  list-style-type: none;
  margin: 0;
  background-color: #eee;
  width: 100%;
  box-shadow: 0 0 4px 3px #111;
  position: fixed;
  top: 0;
  z-index: 20;
}

ul a {
  text-decoration: none;
  cursor: pointer;
  color: #111;
  float: right;
  padding: 14px 16px;
  font-size: 17px;
  transition: 0.5s;
}

ul a.active,
ul a:hover {
  background-color: #303030;
  color: #eee;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

.container {
  margin-bottom: 200px;
  padding: 50px 50px 0;
  scroll-behavior: smooth;
}

section {
  padding-right: 20%;
  padding-left: 10px;
  padding-top: 10px;
  line-height: 1.5rem;
  margin: 10px auto;
  min-height: 80vh;
  transition: 0.5s;
  border-radius: 5px;
}
section h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  padding-bottom: 15px;
}
section.active {
  background-color: #111;
  opacity: 0.8;
}
.right {
  text-align: right;
  padding-right: 10px;
  padding-left: 20%;
}

#cir {
  width: 40px;
  height: 40px;
  bottom: 20%;
  right: 2%;
  animation-name: circle;
  animation-duration: 8s;
  animation-direction: alternate;
}

#b-cir {
  width: 60px;
  height: 60px;
  top: 10%;
  left: 50%;
  animation-name: b-circle;
  animation-duration: 5s;

  animation-direction: reverse;
}
#cir,
#b-cir {
  z-index: -1;
  transition: 0.5s;
  position: fixed;
  background-color: #eeeeee;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px #202020;
  animation-iteration-count: infinite;
}
@keyframes circle {
  0% {
    bottom: 20%;
    right: 0%;
  }
  50% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 20%;
    right: calc(100% - 40px);
  }
}

@keyframes b-circle {
  0% {
    top: 0%;
  }

  100% {
    top: 105%;
  }
}
